<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employees Page (MongoDB)</title>
</head>
<body>
    <h1>Employees</h1>
    <a href="/employeesMongoDB/add">Add Employee (MongoDB)</a>
    <table border="1">
        <tr>
            <th>EID</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <%
        data.forEach(function(data){
        %>
        <tr>
            <td><%=data._id %></td>
            <td><%=data.phone %></td>
            <td><%=data.email %></td>
            <td><a href=employeesMongoDB/edit/<%= data._id %>>Update</a></td>
            <td><a href=employeesMongoDB/delete/<%= data._id %>>Delete</a></td>
        </tr>
        <% }) %>
    </table>
    <a href="/">Home</a>
</body>
</html>